<div class="month" id="calendar_month">
    <table bgcolor="lightgrey" align="center" class="cal_table"
        cellspacing="21" cellpadding="21"> 
        <h4 class="calendar_month">{{get_month_name cal_data.month}} - {{cal_data.year}}</h4>
        <caption align="top"> 
            Monthly Events for McGillicuddy Llc. Consultancy
        </caption> 
        <div class="calendar_nav">
            <button
                class="left"
                hx-get="/event/calendar/prev/{{cal_data.year}}/{{cal_data.month}}"
                hx-target="#calendar_month"
                hx-swap="outerHtml"
            >Prev</button>
            <button
                class="right"
                hx-get="/event/calendar/next/{{cal_data.year}}/{{cal_data.month}}"
                hx-target="#calendar_month"
                hx-swap="outerHtml"
            >Next</button>
        </div>
        <thead> 
            <tr> 
                <th>Sun</th> 
                <th>Mon</th> 
                <th>Tue</th> 
                <th>Wed</th> 
                <th>Thu</th> 
                <th>Fri</th> 
                <th>Sat</th> 
            </tr> 
        </thead> 
        <tbody> 
            {{> calendar/week week_no=1 cal_data=cal_data}}
            {{> calendar/week week_no=2 cal_data=cal_data}}
            {{> calendar/week week_no=3 cal_data=cal_data}}
            {{> calendar/week week_no=4 cal_data=cal_data}}
            {{> calendar/week week_no=5 cal_data=cal_data}}
        </tbody> 
    </table>
</div>