{{#if (int_eq week_no 1)}}
    <tr class="cal_week">
        {{#each cal_data.weekday_range}}
            <td>{{first_week this cal_data}}</td> 
        {{/each}}
        {{!-- e.g. Dec 1st is a Friday. Use an offset. --}}
    </tr> 
{{else}}
    {{#if (int_eq week_no 2)}}
    <tr class="cal_week">
        {{#each cal_data.weekday_range}}
            <td>{{second_week this @root.cal_data}}</td> 
        {{/each}}
    </tr>
    {{else}}
        {{#if (int_eq week_no 3)}}
        <tr class="cal_week">
            {{#each cal_data.weekday_range}}
                <td>{{third_week this @root.cal_data}}</td> 
            {{/each}}
        </tr>
        {{else}}
            {{#if (int_eq week_no 4)}}
            <tr class="cal_week">
                {{#each cal_data.weekday_range}}
                    <td>{{fourth_week this @root.cal_data}}</td> 
                {{/each}}
            </tr>
            {{else}}
                {{#if (int_eq week_no 4)}}
                <tr class="cal_week">
                    {{#each cal_data.weekday_range}}
                        <td>{{fourth_week this @root.cal_data}}</td> 
                    {{/each}}
                </tr>
                {{else}}
                    {{#if (int_eq week_no 5)}}
                    <tr class="cal_week">
                        {{#each cal_data.weekday_range}}
                            <td>{{fifth_week this @root.cal_data}}</td> 
                        {{/each}}
                    </tr>
                    {{else}}
                        <p>We got problems</p>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}