<script>
  document.body.addEventListener('htmx:beforeSwap', function(evt) {
    // Allow 422 and 400 responses to swap
    // We treat these as form validation errors
    if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400) {
      evt.detail.shouldSwap = true;
      evt.detail.isError = false;
    }
  });
 document.getElementById('file_upload').addEventListener('change', function(e) {
    if (e.target.files[0]) {
      document.getElementById('upload_btn').disabled = false
    } else {
      document.getElementById('upload_btn').disabled = true
    }
  });
 document.getElementById('consultant_id').addEventListener('change', function(e) {
    if (e) {
      document.getElementById('linfa_assign').checked = false
    }
  });
</script>
{{
#>
 modal-layout }}
  <button onclick="window.dialog.show();">Check Availability</button>
  <dialog id="dialog">
    {{> consult-availability}}
    <button onclick="window.dialog.close();">Cancel</button>
  </dialog>
<div class="form-style">
  {{#if entity}}
    <h2 id="consult_form_header" class="text-center">Edit Consult</h2>
  {{else}}
    <h2 id="consult_form_header" class="text-center">Add Consult</h2> 
  {{/if}}
  <div id="consult_errors"></div>
  <form 
    hx-boost="true"
    {{#if entity}}
      action={{concat_str_args "/consult/form/" entity.slug}} 
      method="patch"
      hx-target="#list_api"
      hx-push-url="/list"
    {{else}}
      action="/consult/form" 
      method="post"
      hx-target="#crud_api"
      hx-push-url="/crud"
    {{/if}}
    hx-target-5*="#consult_errors"
    hx-target-404="#consult_errors"
    hx-target-400="#consult_errors"
    hx-target-4*="#consult_errors"
    {{!-- hx-headers='{"Content-Type": "multipart/form-data"}' --}}
    hx-swap="innerHTML"
  >
    <ul>
      <li>
        <select class="field-style field-split align-left" id="consult_purpose_id" name="consult_purpose_id" value="{{entity.consult_purpose_id}}" >
            {{!-- Only display default option if new form (or no value, but specialty is required) --}}
            {{#unless @root.entity}}
              <option value="0" selected disabled hidden>Select Purpose</option>
            {{/unless}}
            {{#each consult_purpose_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (int_eq this.value @root.entity.consult_purpose_id)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
        </select>
        <select class="field-style field-split align-right" id="consult_result_id" name="consult_result_id" value="{{entity.consult_result_id}}" >
            {{!-- Only display default option if new form (or no value, but specialty is required) --}}
            {{#unless @root.entity}}
              <option value="0" selected disabled hidden>Select Result</option>
            {{/unless}}
            {{#each consult_result_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (int_eq this.value @root.entity.consult_result_id)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
        </select>
      </li>
      <li>
        <div>
          <label for="location_id">Location, Client and # Attendees</label>
          <select class="field-style field-full align-none" id="location_id" name="location_id">
            {{!-- Only display default option if new form (or no value, but location is required) --}}
            {{#unless @root.entity}}
              <option value="0" selected disabled hidden>Select Location</option>
            {{/unless}}
            {{#each location_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (int_eq this.value @root.entity.location_id)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
      </li>
      <li>
          <select class="field-style field-addr-one" id="client_id" name="client_id">
            {{!-- Only display default option if new form (or no value, but client is required) --}}
            {{#unless @root.entity}}
              <option value="0" selected disabled hidden>Select Client</option>
            {{/unless}}
            {{#each client_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (int_eq this.value @root.entity.client_id)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
          </select>
          <input class="field-style field-addr-two" type="number" id="num_attendees" name="num_attendees" value="1" min="1" max="20" />
      </li>
      <li>
        <select 
          class="field-style field-split align-left" 
          id="consultant_id" 
          name="consultant_id"
          {{!-- Need to choose JS or HS --}}
          {{!-- _="on select set #linfa_assign.checked to false" --}}
          >
          {{!-- Only display default option if new form (or no value, but consultant is required) --}}
          {{#unless @root.entity}}
            <option value="0" selected disabled hidden>Select Consultant</option>
          {{/unless}}
          {{#each consultant_options}}
            {{!-- Only check for the match if have an entity. Else get an error. --}}
            {{#if @root.entity}}
              {{#if (int_eq this.value @root.entity.consultant_id)}}
                <option value="{{this.value}}" selected="true">{{this.key}}</option>
              {{else}} 
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{else}}
              <option value="{{this.value}}">{{this.key}}</option>
            {{/if}}
          {{/each}}
        </select>
        <label class="field-split align-right container">Linfa Assign
          <input 
            type="checkbox" 
            name="linfa_assign" 
            id="linfa_assign"
            value="true"
            _="on click set #consultant_id.value to '0'"
            >
          <span class="checkmark"></span>
        </label>
      </li>

      <li>
        <div>
          <input type="date" class="field-style field-split align-left" id="consult_start_date" name="consult_start_date" placeholder="Start Date" value="{{entity.consult_start_date}}" required="true" />
        </div>
        <div>
          <input type="time" class="field-style field-split align-right" id="consult_start_time" name="consult_start_time" placeholder="Start Time" value="{{entity.consult_start_time}}" required="true" />
        </div>
      </li>

      <li>
        <div>
          <input type="date" class="field-style field-split align-left" id="consult_end_date" name="consult_end_date" placeholder="End Date" value="{{entity.consult_end_date}}" />
        </div>
        <div>
          <input type="time" class="field-style field-split align-right" id="consult_end_time" name="consult_end_time" placeholder="End Time" value="{{entity.consult_end_time}}" />
        </div>
      </li>

      <li>
        <input type="text" id="attachment_path" name="attachment_path" class="field-style field-full align-none" placeholder="Attachment Path" value="" readonly />
      </li>

      <li>
        <div>
          <input type="textarea" class="field-style field-full align-none" id="notes" name="notes" placeholder="Consult Notes (Max 200)" maxlength="200" value="{{entity.notes}}" />
        </div>
      </li>

      {{!-- <li>
        <div>
          <input type="file" class="field-style field-full align-none" id="file_input" name="attachment"/>
        </div>
      </li> --}}

      <li>
        <div>
          <button class="field-style field-split align-left" type="submit">Submit</button>
          <button class="field-style field-split align-right" type="reset">Clear Form</button>
        </div>
      </li>
    </ul>
  </form>
    <form hx-encoding='multipart/form-data' hx-post='/consult/upload' hx-swap="innerHTML" hx-target="#validation_response"
      _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
    <input 
      type="file" 
      id="file_upload" 
      name="upload"
      accept=".jpeg,.png,.jpg,.gif,.csv,.pdf,.json"
    >
    <button id="upload_btn" disabled="true">
        Upload
    </button>
    <progress id='progress' value='0' max='100'></progress>
    <div id="validation_response" _="on mutation if my innerHTML != 'Error'
                                    set #attachment_path.value to #val_p.innerHTML"></div>
  </form>
</div>

{{/modal-layout}}