<script>
  document.body.addEventListener('htmx:beforeSwap', function(evt) {
    // Allow 422 and 400 responses to swap
    // We treat these as form validation errors
    if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400) {
      evt.detail.shouldSwap = true;
      evt.detail.isError = false;
    }
  });
 document.getElementById('file_upload').addEventListener('change', function(e) {
    if (e.target.files[0]) {
      document.getElementById('upload_btn').disabled = false
    } else {
      document.getElementById('upload_btn').disabled = true
    }
  });
</script>

{{
#>
 modal-layout }}
<div class="form-style">
  {{#if entity}}
    <h2 id="consultant_form_header" class="text-center">Edit Consultant</h2>
    <img id="consultant_img" src={{entity.img_path}} /> 
  {{else}}
    <h2 id="consultant_form_header" class="text-center">Add Consultant</h2> 
  {{/if}}
   <div id="consultant_errors"></div>
  <form 
    hx-boost="true"
    {{#if entity}}
      hx-target="#list_api"
      hx-patch={{concat_str_args "/consultant/form/" entity.slug}}
      {{!-- action={{concat_str_args "/consultant/form/" entity.slug}} 
      method="patch" --}}
    {{else}}
      hx-target="#crud_api"
      hx-post="/consultant/form"
      {{!-- action="/consultant/form" 
      method="post" --}}
    {{/if}}
    hx-target-5*="#consultant_errors"
    hx-target-404="#consultant_errors"
    hx-target-400="#consultant_errors"
    hx-target-4*="#consultant_errors"
    {{!-- hx-headers='{"Content-Type": "multipart/form-data"}' --}}
    hx-swap="outerHTML"
  >
    <ul>
      {{#if user_options}}
        <li>
          <select class="field-style field-full align-none" id="user_id" name="user_id">
              {{#each user_options}}
                  <option value="{{this.value}}">{{this.key}}</option>
              {{/each}}
          </select>
        </li>
      {{/if}}
      <li>
          <input type="text" name="consultant_f_name" class="field-style field-split align-left" placeholder="First Name" maxlength="20" value="{{entity.consultant_f_name}}" required="true" />
          <input type="text" name="consultant_l_name" class="field-style field-split align-right" placeholder="Last Name" maxlength="20" value="{{entity.consultant_l_name}}" required="true" />
      </li>
      <li>
          <input type="text" id="img_path" name="img_path" class="field-style field-full align-none" placeholder="Image Path" value="{{entity.img_path}}" readonly />
      </li>
      <li>
        <select class="field-style field-split align-left" id="specialty_id" name="specialty_id" value="{{entity.specialty_id}}" required>
            {{!-- Only display default option if new form (or no value, but specialty is required) --}}
            {{#unless @root.entity}}
              <option value="" selected disabled hidden>Select One</option>
            {{/unless}}
            {{#each specialty_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (int_eq this.value @root.entity.specialty_id)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
        </select>
        <select class="field-style field-split align-right" id="territory_id" name="territory_id" value="{{entity.territory_id}}" required>
            {{!-- Only display default option if new form (or no value, but specialty is required) --}}
            {{#unless @root.entity}}
              <option value="" selected disabled hidden>Select One</option>
            {{/unless}}
            {{#each territory_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (int_eq this.value @root.entity.territory_id)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
        </select>
      </li>
      <li>
        <div>
          <button class="field-style field-split align-left" type="submit">Submit</button>
          <button class="field-style field-split align-right" type="reset">Clear Form</button>
        </div>
      </li>
    </ul>
  </form>
  <form hx-encoding='multipart/form-data' hx-post='/consultant/upload' hx-swap="innerHTML" hx-target="#validation_response"
      _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
    <input 
      type='file' 
      id="file_upload" 
      name='upload'
      accept=".jpeg,.png,.jpg,.gif"
    >
    <button id="upload_btn" disabled="true">
        Upload
    </button>
    <progress id='progress' value='0' max='100'></progress>
    {{!-- val_p in in the validation template --}}
    <div id="validation_response" _="on mutation if my innerHTML != 'Error'
                                    set #img_path.value to #val_p.innerHTML"></div>
  </form>
</div>
{{/modal-layout}}