<script>
  document.body.addEventListener('htmx:beforeSwap', function(evt) {
    // Allow 422 and 400 responses to swap
    // We treat these as form validation errors
    if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400) {
      evt.detail.shouldSwap = true;
      evt.detail.isError = false;
    }
  });
</script>

{{
#>
 modal-layout }}
<div>
  {{#if entity}}
    <h2 id="location_form_header" class="text-center">Edit Location</h2>
  {{else}}
    <h2 id="location_form_header" class="text-center">Add Location</h2> 
  {{/if}}
  <div id="location_errors"></div>
  <form 
    class="form-style"
    id="location_form"
    hx-boost="true"
    {{#if entity}}
      action={{concat_str_args "/location/form/" entity.slug}} 
      method="patch"
      hx-target="#list_api"
      hx-push-url="/list"
    {{else}}
      action="/location/form" 
      method="post"
      {{!-- hx-target="#crud_api" --}}
      hx-push-url="/crud" 
    {{/if}}
    hx-target-400="#location_errors"
    {{!-- hx-push-url="true" --}}
    {{!-- hx-target-5*="#location_errors"
    hx-target-404="#location_errors"
    hx-target-400="#location_errors"
    hx-target-4*="#location_errors" --}}
    {{!-- hx-headers='{"Content-Type": "multipart/form-data"}' --}}
    {{!-- hx-swap="innerHTML" --}}
  >
    <ul>
      <li>
        <!-- If invalid, change aria-invalid attribute to "true" -->
        <input type="text" name="location_name" class="field-style field-full align-none" placeholder="Location Name" value="{{entity.location_name}}" required="true" aria-required="true" aria-invalid="false"/>
        {{!-- {{#if validation_errors.location_name}}
          <strong>{{validation_errors.location_name}}</strong>
        {{/if}} --}}
      </li>
      <li>
        <input type="text" name="location_address_one" class="field-style field-addr-one" placeholder="Address" value="{{entity.location_address_one}}" required="true" />
        <input type="text" name="location_address_two" class="field-style field-addr-two" placeholder="Apt, Ste etc.. (Optional)" value="{{entity.location_address_two}}" />
      </li>
      <li>
        <input type="text" name="location_city" class="field-style field-city" placeholder="City" value="{{entity.location_city}}" required="true" />
        {{!-- <input type="select" name="state" class="field-style field-state" placeholder="State" /> --}}
        <select class="field-style field-state" id="location_state" name="location_state" value="{{entity.location_state}}" required>
            {{!-- Only display default option if new form (or no value, but state is required) --}}
            {{#unless @root.entity}}
              <option value="" selected disabled hidden>-</option>
            {{/unless}}
            {{#each state_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (str_eq this.value @root.entity.location_state)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
        </select>
        <input type="text" name="location_zip" class="field-style field-zip" placeholder="Zip" pattern="[0-9]{5}" value="{{entity.location_zip}}" required="true" />
      </li>
      <li>
        <input type="tel" name="location_phone" class="field-style field-split align-left" placeholder="000-000-0000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{entity.location_phone}}" />
        <select class="field-style field-split align-right" id="location_contact_id" name="location_contact_id" value="{{entity.location_contact_id}}">
            {{!-- Only display default option if new form (or no value, but location_contact has a default value) --}}
            {{#unless @root.entity}}
              <option value="" selected disabled hidden>Select One</option>
            {{/unless}}
            {{#each location_contact_options}}
              {{!-- Only check for the match if have an entity. Else get an error. --}}
              {{#if @root.entity}}
                {{#if (int_eq this.value @root.entity.location_contact_id)}}
                  <option value="{{this.value}}" selected="true">{{this.key}}</option>
                {{else}} 
                  <option value="{{this.value}}">{{this.key}}</option>
                {{/if}}
              {{else}}
                <option value="{{this.value}}">{{this.key}}</option>
              {{/if}}
            {{/each}}
        </select>
      </li>
      <li>
        <div>
          <button class="field-style field-split align-left" type="submit">Submit</button>
          <button class="field-style field-split align-right" type="reset">Clear Form</button>
        </div>
    </li>
  </form>
</div>
{{/modal-layout}}

