<div>
    <ul>
    {{#each posts}}
        <li><a href="/{{this.slug}}" hx-get="/content/{{this.slug}}" hx-target="#content" hx-replace-url="/{{slug}}">{{this.title}}</a> ({{this.date}})</li>
    {{/each}}
    </ul>
</div>

<div id="content" hx-get="/content/{{current}}" hx-trigger="load delay:100ms" hx-target="#content"></div>