{{
#>
 modal-layout }}
<div>
  <h2 id="attachment_header" class="text-center">Attachments</h2>
  <div id="attachment_errors"></div>
  <div id="attachments_div">
    {{#each attachments}}
      <details>
        <summary>{{this.short_desc}}</summary>
          {{#if (int_in this.mime_type_id [1,2,3,4,5])}}
            <img src={{this.path}} />
          {{/if}}
          {{#if (int_in this.mime_type_id [6,7,8])}}
            <audio controls={true}>
                {{#if (int_in this.mime_type_id [7])}}
                  <source src={{this.path}} type="audio/mpeg" />
                {{else}}
                  <source src={{this.path}} type="audio/wav" />
                {{!-- {"Your browser does not support the audio element."} --}}
                {{/if}}
            </audio>
          {{/if}}
          {{#if (int_in this.mime_type_id [9,10,11])}}
            <video width="320" height="240" controls={true} >
                <source src={{this.path}} type="video/webm" />
                {{!-- // Use with multiple types
                // <source src="movie.ogg" type="video/ogg"> --}}
                {{!-- {"Your browser does not support the video tag."} --}}
            </video>
          {{/if}}
          {{#if (int_in this.mime_type_id [13])}}
            <embed src={{this.path}} width="20em" height="30em" />
          {{/if}}
          {{#if (int_in this.mime_type_id [14])}}
            <input type="hidden" id="csv_path" value={{this.path}} />
            <script>
              let table = document.getElementById("csv_table");
              let path = document.getElementById("csv_path").value;
              let cutoff = 10;
              fetch(path)
              .then(response => response.text())
              .then(data => {
                let rows = data.split("\n");
                // Use rows.length to display whole file (vs. cutoff)
                for (let i = 0; i < cutoff; i++) {
                  let cells = rows[i].split(",");
                  let row = table.insertRow();
                  for (let j = 0; j < cells.length; j++) {
                    let cell = row.insertCell();
                    cell.innerText = cells[j];
                  }
                }
              })
              .catch(error => console.log(error));
              </script>
              <table id="csv_table"></table>
          {{/if}}
      </details>
      <a href={{this.path}} download="true"><img src="/images/download.svg" alt="download_attachment" /></a>
    {{/each}}
  </div>
</div>
{{/modal-layout}}