{{
#>
 main-layout title='Homepage' user=user}}
 <div class="homepage">
    <h1>Welcome to External Review or Whatever</h1>
    {{#if err}}
        <div id="error_div">
            <p id="error_text">{{err}}</p>
            <p><a href="/">Login</a></p>
        </div>
    {{else}}
    <div class="fancy_links">
        <p>Glad you could join us, <span _="on mouseover toggle .blue on me">{{user.username}}</span>. Here are some helpful links:</p>
        <ul>
            <li><a href="/crud">Create Records</a></li>
            <li><a href="/list">Read &amp; Edit</a></li>
            <li><a href="/schedule">Schedule Events</a></li>
        </ul>
    </div>
    {{/if}}
    <div id="news_container">
        <h4>Recent News / Feed</h4>
        {{#if feed_data.posts}}
            {{> post-feed-item posts=feed_data.posts}}
        {{else}}
            <h6>No Recent Posts</h6>
        {{/if}}
        {{#if feed_data.consults}}
            {{> consult-feed-item consults=feed_data.consults subs=feed_data.subs}}
        {{else}}
            <h6>No Recent Activity</h6>
        {{/if}}
    </div>
</div>
{{/main-layout}}