{{!-- <div class="resposive_table_container">
  <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Job Id</div>
      <div class="col col-2">Customer Name</div>
      <div class="col col-3">Amount Due</div>
      <div class="col col-4">Payment Status</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42235</div>
      <div class="col col-2" data-label="Customer Name">John Doe</div>
      <div class="col col-3" data-label="Amount">$350</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42442</div>
      <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
      <div class="col col-3" data-label="Amount">$220</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42257</div>
      <div class="col col-2" data-label="Customer Name">John Smith</div>
      <div class="col col-3" data-label="Amount">$341</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42311</div>
      <div class="col col-2" data-label="Customer Name">John Carpenter</div>
      <div class="col col-3" data-label="Amount">$115</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
  </ul>
</div> --}}

{{!-- <div class="resposive_table_container">
  <h2>Responsive Tables</h2>
  <ul class="responsive-table">
    <li class="table-header">
        {{#each table_headers}}
            <div class="col col-{{@index}}">{{this}}</div>
        {{/each}}
    </li>
    {{#each table_rows}}
      <li class="table-row">
          {{#each this.tds}}
            <div class="col col-{{@index}}" data-label={{this.data_label}}>{{this.value}}</div>
          {{/each}}
      </li>
    {{/each}}
  </ul>
</div> --}}

<h3> 
  Search
  <span class="htmx-indicator"> 
    <img src="/images/blocks-shuffle-2.svg"/> Searching... 
   </span> 
</h3>
<input class="form-control" type="search" 
       name="search" placeholder="Begin Typing To Search ..." 
       hx-post="/search" 
       hx-trigger="keyup changed delay:500ms, search" 
       hx-target="#table_body" 
       hx-indicator=".htmx-indicator">

<div class="responsive_table">
  <h2>{{table_title}}</h2>
  <dialog id="dialog">
    {{#if (str_eq table_title "Consultants")}}
      {{> consultant/consultant-form}}
    {{/if}}
    {{#if (str_eq table_title "Locations")}}
      {{> consult/consult-form}}
    {{/if}}
    <button onclick="window.dialog.close();">Cancel</button>
  </dialog>
  <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            {{#each entities.[0]}}
              <th>{{to_title_case @key}}</th>
            {{/each}}
              <th>Action(s)</th>
          </tr>
        </thead>
        <tbody id="table_body">
          {{#each entities}}
            <tr>
              {{#each this}}
                <td id={{@key}}>{{this}}</td>
              {{/each}}
                <td id="td_action"><button onclick="window.dialog.show();">Edit</button></td>
            </tr>
          {{/each}}
          {{#if (vec_len_ten entities)}}
              <tr>
                {{!-- entities.[0].keys.length for colspan --}}
                <td colspan="5" style="text-align: center">
                    <span hx-target="closest tr"
                          hx-trigger="revealed"
                          hx-swap="outerHTML"
                          hx-select="tbody > tr"
                          {{!-- hx-get={{load_more_url_base + (page + 1)}} --}}
                          hx-get={{concat_args lookup_url page }}
                          {{!-- hx-get="/{{ lower_and_single table_title }}/list?page={{ page + 1 }}" --}}
                      >Loading More...</span>
                </td>
              </tr>
          {{/if}}
        <tbody>
      </table>
  </div>
</div>

{{!-- <div class="responsive_table">
  <h2>Responsive Table</h2>
  <div class="table-wrapper">
      <table class="fl-table">
          <thead>
          <tr>
              {{#each table_headers}}
                  <th>{{this}}</th>
              {{/each}}
          </tr>
          </thead>
          <tbody>
            {{#each consultants}}
                <tr>
                    {{#each this}}
                      <td id={{@key}}>{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}} 
          <tbody>
      </table>
  </div>
</div> --}}

{{!-- {{#each consultants}}
    <tr>
        {{#each this.}}
          <td>{{this}}</td>
        {{/each}}
    </tr>
{{/each}} 

{{#each table_rows}}
  <tr>
      {{#each this.tds}}
        <td>{{this}}</td>
      {{/each}}
  </tr>
{{/each}} --}}

{{!-- {{#each consultants}}
    <tr>
          <td>{{this.specialty_id}}</td>
          <td>{{this.consultant_id}}</td>
          <td>{{this.consultant_f_name}}</td>
    </tr>
{{/each}}  --}}