<script>
  document.body.addEventListener('htmx:beforeSwap', function(evt) {
    // Allow 422 and 400 responses to swap
    // We treat these as form validation errors
    if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400) {
      evt.detail.shouldSwap = true;
      evt.detail.isError = false;
    }
  });
</script>

{{
#>
 modal-layout }}
<div>
  <h2 class="text-center">Settings for {{username}}</h2>
  <form 
    class="form-style"
    hx-post="/user/settings"
    {{!-- Display Err/Success Msg in designated div --}}
    hx-target="#user_response"
    {{!-- hx-headers='{"Content-Type": "multipart/form-data"}' --}}
    hx-swap="innerHTML">
    <div id="validation"></div>
    <ul>
      {{!-- <li>
        <div>
          <input type="text" class="field-style field-split align-left" id="username" name="username" value={{username}} placeholder="Username" disabled="true" />
        </div>
        <div>
          <input type="time" class="field-style field-split align-right" id="email" name="email" value={{email}} placeholder="Email" />
        </div>
      </li> --}}

      <li>
        <div>
          <label for="theme_select">Theme Preference</label>
          <select class="field-style field-full align-none" id="theme_select" name="theme_select">
            {{#each theme_options}}
              <option value="{{this.value}}">{{this.key}}</option>
            {{/each}}
          </select>
        </div>
      </li>
      <li>

      {{!-- <li>
        <div>
          <label for="theme_select">Timezone</label>
          <select class="field-style field-full align-none" id="theme_select" name="theme_select">
            {{#each tz_options}}
              <option value="{{this.value}}">{{this.key}}</option>
            {{/each}}
          </select>
        </div>
      </li>
      <li> --}}

      {{!-- <li>
        <div>
          <label for="avatar_select">Avatar</label>
          <select class="field-style field-full align-none" id="theme_select" name="theme_select">
            {{#each avatar_options}}
              <option value="{{this.value}}">{{this.key}}</option>
            {{/each}}
          </select>
        </div>
      </li> --}}

      {{!-- Map over & have checked={{this.avatar_path == user.avatar_path}}--}}

      <div class="user-dropdown">
          <button class="mini_dropbtn">Change Avatar 
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="user-dropdown-content">
            <label>
              <input type="radio" name="test" value="small" checked>
              <img src="/images/default_avatar.svg" alt="Option 1">
            </label>

            <label>
              <input type="radio" name="test" value="big">
              <img src="/images/default_avatar.svg" alt="Option 2">
            </label>
          </div>
      </div>

      <li>
        <div>
          <label class="container">Newsletter
            <input type="checkbox" name="newsletter" id="newsletter">
            <span class="checkmark"></span>
          </label>
        </div>
      </li>

            <li>
        <div>
          <label class="container">Notifications
            <input type="checkbox" name="notifcations" id="notifications">
            <span class="checkmark"></span>
          </label>
        </div>
      </li>

      <li>
        <div>
          <input type="file" class="field-style field-full align-none" id="file_input" name="attachment"/>
        </div>
      </li>

      <li>
        <div>
          <button class="field-style field-split align-left" type="submit">Send Response</button>
          <button class="field-style field-split align-right" type="reset">Clear Form</button>
        </div>
      </li>
    </ul>
    <details>
      <summary>Last Updated</summary>
        {{updated_at_fmt}}
    </details>
  </form>
</div>
{{/modal-layout}}